
GLFW_ICON ICON "../sm64.ico"

1 VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILETYPE 1 // VFT_APP

{
    BLOCK "StringFileInfo"
    {
	    BLOCK "040904E4"
	    {
		    VALUE "CompanyName", "PacoChan"
		    VALUE "FileDescription", "A Super Mario 64 save editor compatible with both the Nintendo 64 and PC versions of the game."
		    VALUE "FileVersion", "1.2.0.0"
		    VALUE "InternalName", "SM64SaveEditor.exe"
		    VALUE "LegalCopyright", "PacoChan"
		    VALUE "OriginalFilename", "SM64SaveEditor.exe"
		    VALUE "ProductName", "Super Mario 64 - Save Editor"
		    VALUE "ProductVersion", "1.2.0.0"
	    }
    }
    
    BLOCK "VarFileInfo"
    {
	    VALUE "Translation", 0x0409, 1252
    }
}
